<head>
    <link rel="stylesheet" href="./css/login.css">
</head>

<div class="login-wrap">
    <div class="login-box">
        <h2 class="login-heading">Get Started</h2>
        <div class="lb-header">
            <div class="tabs active">
                <a href="#" class="active" id="login-box-link">Login</a>
            </div>
        </div>
        <div class="social-login">
            <div class="accountBlocks accountBlockSocial">
                <div class="social-button">
                    <a class="btnGoogleLogin google-auth" href="/Glogin"><span class="gicon s-ico"></span>Log in with
                        Google</a>
                </div>
                <div class="social-button">
                    <a class="btnFbLogin fb-auth" href="/Gitlogin"><span class="fbicon s-ico"></span>Log in with Github</a>
                </div>
            </div>
        </div>
    </div>
</div>